button {
  display: flex;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  width: 290px;
  height: 87px;
  align-items: center;
  text-decoration: none;
  gap: 10px;
  flex-shrink: 0;
  background-color: #e93f56;
  color: #fff;
  font-family: "Bokor", system-ui;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  text-align: center;
  justify-content: center;
  align-items: center;
  border: none;
}

button:hover {
  color: #e63946;
  background-color: #fff;
}
