button {
  display: flex;
  width: 290px;
  height: 87px;
  padding: 0px 24px;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  background-color: #e93f56;
  color: #fff;
  font-family: "Bokor", system-ui;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  text-align: center;
}
