.citation {
  color: var(--white, #fff);
  text-align: center;
  font-family: "Bokor", system-ui;
  font-size: 128px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 153.6px */
  text-transform: uppercase;
}
