footer {
  background-color: black;
  display: flex;
  padding: 70px;
  justify-content: space-between;
}

.socials {
  display: flex;
  padding: 42px 0;
}

.footer-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}

.footer-right a {
  padding-bottom: 27px;
}
