header {
  background-image: url(/src/img/header.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 600px;
}

.logo-white {
  position: relative;
  top: 590px;
  left: 180px;
}
