.scroll-container {
  display: inline-flex;
  height: 100vh;
  position: relative;
}

.horizontal-scroll {
  height: 100vh;
  overflow: hidden;
}

#carousel1 {
  z-index: 7;
  position: absolute;
  top: 100px;
  left: 30px;
}

#carousel2 {
  z-index: 6;
  position: absolute;
  top: 380px;
  left: 445px;
}

#carousel3 {
  z-index: 5;
  position: absolute;
  top: 0px;
  left: 945px;
}

#carousel4 {
  position: absolute;
  top: 420px;
  left: 1297px;
  z-index: 4;
}

#carousel5 {
  z-index: 3;
  position: absolute;
  top: 50px;
  left: 1765px;
}

#carousel6 {
  z-index: 2;
  position: absolute;
  top: 0px;
  left: 2285px;
}

#carousel7 {
  z-index: 1;
  position: absolute;
  top: 50px;
  left: 2665px;
}
