.section-red-black {
  background: linear-gradient(180deg, #e93f56 1.31%, #050e0b 71.93%);
}

.undertitle {
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 12px 31px;
}
