.section-black img {
  width: 478px;
  height: 647px;
  flex-shrink: 0;
}

.short-info {
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  padding-bottom: 42px;
}

.resume-book {
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 42px 0;
}

.section-black {
  display: flex;
  padding: 70px;
  background: var(--black, #000);
  color: #fff;
}

.info-book {
  padding: 0 115px;
}
